body {
	background-color: #9CB9B6;
  /*background: url("road-street-blur-blurred.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
  text-align: center;
}

#selection , #searchButton{
	 background-color: white;
    font-size: 20px;

    height: 30px;
    width: 100px;
    margin-top: 20px;
    text-align: center;
    border: 0;

    font-family: 'Raleway', sans-serif;
}

#searchButton:hover{
	box-shadow: 6px 5px 10px #CECECE;
}

#selection:hover{
	box-shadow: 6px 5px 10px #CECECE;
}

#search{
  margin: 40px auto;
}


#textTitle {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
}
.container div {
	width: 32%;
	height: 40%;
	float: left;

	padding: 30px;

	margin-bottom: 40px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	vertical-align: top;
	font-family: 'Sahitya', serif;
 border-radius: 18px;

	border: 1px solid #A9837E;
	background-color: white;
}

.logo-img{
  width: 30px;
  height: 30px;
}

/*.container div .inner{
	background-color: #EDEDED;
	width: 100%;

	height: 50%;
	 border-radius: 25px;
}*/






.container p {
	font-size: 10px;
}



.container div:hover{
	box-shadow: 6px 5px 10px #CECECE;
}

ul{
  padding-left: 0;
}
