* {
  box-sizing: border-box;
}

a {
  color: #757575;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
	background-color: #E0E0E0;
}

#textTitle {
  font-family: 'PT Serif', serif;
}

form {
  text-align: center;
}

#selection , #searchButton{
	 background-color: white;
    font-size: 20px;
    height: 30px;
    width: 100px;
    margin-top: 20px;
    text-align: center;
    border: 0;
    font-family: 'Raleway', sans-serif;
}

#searchButton:hover{
	box-shadow: 6px 5px 10px #CECECE;
}

#selection:hover{
	box-shadow: 6px 5px 10px #CECECE;
}

#search{
  margin: 40px auto;
}

#textTitle {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
}

.container{
  display: flex;
  flex-flow: column wrap;
}

.article-div{
  margin-bottom: 10px;
  width: 100%;
  font-family: 'Sahitya', serif;
  border-radius: 18px;
  border: 1px solid #A9837E;
  padding: 20px;
  background-color: white;
}

.container div .inner{
  border: 1px solid darkgrey;
  padding: 0px 10px;
  background-color: #EDEDED;
  width: 100%;
  border-radius: 5px;
}

.logo-img{
  width: 30px;
  height: 30px;
}


/*This styling below applies only to screens with more than 683px:*/
@media screen and (min-width: 683px) {
  .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .article-div{
    width: 320px;
  }

  .container p {
  	font-size: 10px;
  }

  .article-div:hover{
    box-shadow: 6px 5px 30px #505050;
  }
}
